:root{
    --primarycolor:#85603F;
    --secondrycolor:#f7bcf7;
    --lightcolor:#fff;
    --bgcolor-1:#171a1c;
    --bgcolor-2:#22282a;
    --padding:8%;
    
    }
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html{
       
    font-family: 'Shantell Sans', cursive;
    font-size: 16px;
    color: var(--lightcolor);
    }
    .home{
        width: 100%;
        height: 100vh;
        background-color: var(--bgcolor-1);
    }
    span{
        color: var(--primarycolor);
    }
    h2{
        font-size: 2.2rem;
        letter-spacing: 0.12rem;
        cursor: pointer;
    }
    nav{
        padding-top: 2.8rem;
        padding-left: var(--padding);
        padding-right: var(--padding);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }
    nav ul li{
        list-style-type: none;
        display: inline-block;
        margin: 1rem;
    }
    nav ul li a{
        text-decoration: none;
        color: var(--lightcolor);
        transition: all 0.4s ease-in-out;
    }
    nav ul li a:hover{
        color: var(--primarycolor);
    }
    .btn{
       text-decoration: none;
       color: var(--lightcolor);
       border-radius: 30px;
       padding: 0.8rem 1.87rem;
     font-weight: bold;
     background-color: var(--primarycolor);
     border:transparent solid 2px;
    transition: 0.2s;
    }
    .btn:hover{
        border: var(--primarycolor) solid 2px;
        background-color: var(--bgcolor-1);
    }
    .content{
        background-color: var(--bgcolor-1);
        flex-grow: 1;
        padding: 0 var(--padding);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .home{
        display: flex;
        flex-direction: column;
    }
    .home h1{
        font-size: 4rem;
        margin: 0.5rem 0;
    }
    .home h4{
        font-size: 1.2rem;
        color: var(--secondrycolor);
    }
    .home h3{
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
    .content-text{
        position: relative;
        bottom: 70px;
    }
    .social{
        margin-top: 2rem;
    }
    .social img{
        margin-right: 1rem;
    width: 2rem;
    transition: 0.4s;
    }
    .social img:hover{
        transform: scale(1.3);
    }
    .contact-img{
        width: 45%;
        height: 90%;
        position: relative;
        align-self:flex-end;
    }
    .contact-img img{
        position: absolute;
        bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    }
    .per{
        height: 390px;
        width: 250px;
        z-index: 1;
       margin-bottom: 40px;
       transition: 0.6s;
    }
    .bac-per{
        height: 550px;
        width: 550px;
        transition: 0.6s;
    }
    .contact-img:hover .per{
    left: 54%;
    
    
    }
    .contact-img:hover .bac-per{
    left: 47%;
    
    }
    .about{
        padding: 2rem var(--padding);
        background-color: var(--bgcolor-2);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .about .about-img{
        width: 35%;
    }
    
    .about p {
    
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
    color: var(--secondrycolor);
    }
    .about h5{
        letter-spacing: 1px;
        margin: 1rem 0;
    }
    .about h1{
        font-size: 50px;
    }
    .about-text{
        width: 50%;
    }
    /* aboutend */
    .ser{
    background-color: var(--bgcolor-1);
    
    padding: 2rem var(--padding);
    }
    .ser h1{
        font-size: 40px;
        text-align: center;
    }
    .ser p {
    
        letter-spacing: 1px;
        line-height: 1.3rem;
        font-size: 1rem;
        color: var(--secondrycolor);
    }
    .box{
        display: flex;
        justify-content: space-between;
    }
    .cards{
        width: 250px;
    background-color: var(--bgcolor-2);
        border-radius: 20px;
        padding: 1.3rem 2rem;
      text-align: center;
    }
    .cards h5{
        text-align: center;
        color: var(--primarycolor);
        margin: 0.5rem 0;
        font-size: 1.3rem;
    }
    .cards i{
        font-size: 1.2rem;
        color: var(--primarycolor);
        text-align: center;
    }
    /* my skils */
    .skils{
        background-color:var(--bgcolor-2);
    }
    .skils h3{
        text-align: center;
        letter-spacing: 2px;
        font-size: 40px;
       padding: 2rem 0;
    }
    
    .skil-con{
        display: flex;
      justify-content: space-around;
    }
    .skil-icon{
        display: flex;
        justify-content: space-around;
        width: 30%;
    display: flex;
    flex-wrap: wrap;
    
    }
    .skil-icon img{
        width: 70%;
        height: 70%;
    }
    .skil-icon div{
     background-color: var(--lightcolor);
     padding: 0.5rem;
     border-radius: 50%;
     height: 60px;
     margin: 0 1rem;
    }
    /* skills end */
    
    
    
    .foot{
        background-color: var(--bgcolor-1);
    }
    .foot h2{
        text-align: center;
        font-size: 30px;
    }
    .foot p{
        text-align: center;
    }
    
    /* media */
    
    @media screen and (max-width : 576px) {
        :root{
            --padding:1.5rem;
        }
        html{
            font-size: 13px;
        }
        .contact-img img{
            display: none;
        }
        nav .btn{
            display: none;
        }
    nav ul{
        display: none;
    }
    nav{
        position: fixed;
        top:0;
        left: 0;
    }
    }